<div class="single_comment">
    <div class="comment_user_profile">
    <img id="comment_user_photo" src= <%= comment.author.photo %> alt="user_image" />
    <p><%= comment.author.name %></p>
    </div>
    <div class="comment_text_holder">
        <p><%= comment.text %></p>
        <p id="created_at"><%= comment.created_at %></p>
    </div>
</div>