<div class="single_comment">
    <div class="comment_user_profile">
    <img id="comment_user_photo" src= <%= comment.author.photo %> alt="user_image" />
    <p><%= comment.author.name %></p>
    </div>
    <p><%= comment.text %></p>
</div>