@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 50%;
  margin: 100px auto 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.alert {
  background-color: rgba(182, 11, 11, 0.904);
  opacity: 0;
  width: fit-content;
  color: white;
  position: absolute;
  transition: all 1s;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-100%);
  animation: slide normal 1s ease-out;
}

@keyframes slide {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.current_user_wrapper {
  position: relative;
}

.current_user_options {
  position: absolute;
  font-size: 0.8em;
  top: -30%;
  padding: 10px 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
  background-color: lightgray;
  width: 100px;
}

.slide {
  top: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
}

#current_user_photo {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

#user {
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 10px;
}

#user-img {
  width: 150px;
  height: 150px;
}

#bio {
  background-color: lightblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#create_user {
  padding: 5px 10px;
  border: none;
  width: fit-content;
  border-radius: 5px;
  margin-left: auto;
}

#create_user a {
  color: black;
  text-decoration: none;
}

.error_msg {
  display: block;
}

/* ------------------- Post ------------------------ */

.detailed_post {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#post-container {
  font-size: 0.9em;
}

.post-owner-info {
  display: flex;
  gap: 10px;
}

.author_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-decoration: none;
  color: initial;
}

#author-bio {
  font-style: italic;
  color: grey;
  font-size: 0.85rem;
}

#post-count {
  color: grey;
  margin-top: auto;
}

.single_post {
  display: flex;
  padding: 10px;
  gap: 20px;
  flex-direction: column;
  border: 1px solid black;
}

.post-top-section {
  display: flex;
  padding-bottom: 10px;
}

.buttons_holder {
  display: flex;
  justify-content: end;
  gap: 20px;
}

#show_all_posts,
#create_post {
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#show_all_posts a,
.post_link,
.single_user,
#create_post a,
#add_comment a {
  text-decoration: none !important;
  color: initial;
}

.post_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9em;
}

#create_post {
  display: block;
  margin-left: auto;
}

.comment_like_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.commenter_section {
  display: flex;
  align-items: center;
  gap: 5px;
}

#delete_post_btn {
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* -------------------- Comment ----------------------- */

.comment_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

#comments-likes {
  color: grey;
  text-align: end;
  margin-left: auto;
}

.comment_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single_comment {
  display: flex;
  gap: 20px;
  width: 100%;
}

.comment_user_profile {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: initial;
  justify-content: center;
  align-items: center;
}

#comment_user_photo,
#commenter_photo,
#post_owner_photo {
  border-radius: 50%;
  width: 50px;
  margin-bottom: auto;
}

.comment_text_holder {
  display: flex;
  padding: 10px;
  background-color: lightgrey;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.commenter-name {
  display: flex;
  justify-content: space-between;
}

#created_at {
  font-style: italic;
  color: grey;
  font-size: 0.7rem;
}

.comment_form {
  display: flex;
  gap: 5px;
}

#comment_text {
  outline: none;
  border: none;
  margin-left: 5px;
  background-color: transparent;
  border-bottom: 1px;
  font-style: italic;
}

#comment_delete_btn {
  display: block;
  margin-left: auto;
  color: red;
  background: transparent;
  cursor: pointer;
  border: none;
}

/* ---------------------- Form --------------- */

.form {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

#user_bio {
  margin-bottom: auto;
}

.input_fields,
#user_bio {
  border: none;
  width: 100%;
  padding: 5px;
  font-style: italic;
  border-bottom: 1px solid #000;
}

#input_bio {
  display: flex;
}

form input:focus {
  background-color: lightgray;
}

form input[type=submit] {
  width: fit-content;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  color: white;
}

/* ------------------------------------- Sign_up form -------------------------- */

.sign_up_form_wrapper,
.sign_in_form_wrapper {
  margin: auto auto;
  gap: 20px;
  background-color: rgb(196, 126, 22);
  padding: 80px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 150px;
  display: flex;
  flex-direction: column;
}

.sign_up_form,
.sign_in_form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sign_up_form_wrapper p,
.sign_in_form_wrapper p {
  margin: 0 auto;
}

#login_btn,
#sign_in_btn {
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
}

#login_btn a,
#sign_in_btn a {
  text-decoration: none;
  color: black;
}

/* -------------------------- Sign in --------------------- */

#log_out_btn {
  border: none;
  background-color: transparent;
  display: block;
  font-size: 1.2em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
}

#log_out_btn:hover {
  /* background-color: red;
  border-radius: 5px;
  color: white; */
  color: red;
}

header {
  display: flex;
  position: fixed;
  left: 5%;
  top: 0;
  background-color: lightblue;
  padding: 10px 20px;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 20px;
}

#Home_btn {
  text-decoration: none;
  color: black;
}

#log_in_btn {
  text-decoration: none;
  color: white;
  background-color: rgb(74, 175, 74);
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  margin-left: auto;
}

/* ------------------------ Footer ------------------------------ */

footer {
  display: block;
  position: fixed;
  bottom: 5px;
  width: 100%;
  left: 0;
  text-align: center;
}
